table,th,td{
    border: 2px solid rgb(148, 29, 29);
    text-align: center;
}
table{
    width: 1000px;
    color: rgb(46, 176, 220);
}
th,.foot{
    height: 40px;
}

table{
    background-color: pink;
}