table,th,td{
    border: 2px solid rgb(148, 29, 29);
    text-align: center;
}
table{
    width: 100%;
}
th,.foot{
    height: 40px;
}
.menu{
    width: 20px;
}
.cs{
    width: 60px;
}
.advt{
    width: 20px;
}
table{
    color: rgb(0, 179, 255);
}